.heading:not(:last-child) {
	margin-bottom: 30px;
}

main {
	margin-right: 30px;
}

.resourses {
	width: 350px !important;
	flex: 0 0 350px !important;
	min-width: 350px !important;
	max-width: 350px !important;
	border-radius: 10px;
	box-shadow: 0px 1px 1px 1px #c6c6c6d3;
	overflow: hidden;
	background-color: #fff;
}

.bonds-list {
	background-color: rgb(153, 226, 43);
}

@media (max-width: 700px) {
	main {
		margin-right: 0px;
		margin-bottom: 20px;
	}
	.ant-layout.ant-layout-has-sider {
		flex-direction: column;
	}

	.ant-layout.ant-layout-has-sider > .ant-layout-content {
		width: 100%;
	}

	.resourses {
		width: 100% !important;
		flex: 0 0 auto !important;
		min-width: 100% !important;
		max-width: 100% !important;
	}
}
